 <%- include('layout.ejs'); %>
 <div class="container">
   <div class="row justify-content-center">
     <div class="col-md-8">
       <h2>การลงทะเบียนเป็นผู้ใช้งาน</h2>
       <div class="card">
         <div class="card-header" id="message"><%= message.message_body %></div>
         <div class="card-body">
           <div class="login-register">
             <a href="/login">กลับไปหน้าล็อกอิน</a>
           </div>
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>
 </body>

 </html>